<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Pyle</a>
			<p class="navbar-text text-center">{{ filename }}</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="text-center">
		<img src="{{ filepath }}" alt="Image" class="img-responsive img-rounded">
	</div>
</div>
</body>
</html>
